<% if (errors.length > 0) { %>

    <div class="row mensagem" id="flash-messages" style="width: 50vw; margin: auto;">
        <div class="col">
            <div class="alert alert-danger">
                <% errors.forEach(erro => { %>
                    <%= erro %><br>
                <% }); %>
            </div>
        </div>
    </div>
    
<% } %>

<% if (success.length > 0) { %>

    <div class="row mensagem" id="flash-messages" style="width: 50vw; margin: auto;">
        <div class="col">
            <div class="alert alert-success">
                <% success.forEach(success => { %>
                    <%= success %><br>
                <% }); %>
            </div>
        </div>
    </div>
    
<% } %>