<%- include('includes/head'); %>

  <section class="section-inicio-mobile">
    <div class="div-inicio-img">
      <img src="/uploads/img/IFSP-VTP-Logo-Color-2.png" alt="" class="img-inicio">
    </div>

    <div class="div-form">
      <form method="post" action="/login/login" class="form-login">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email" required name="email">
          </div>
          <div class="col-md-4 mb-3">
            <label>Senha</label>
            <input type="password" class="form-control" placeholder="Senha" required name="password">
          </div>
        </div>
        <button class="btn btn-primary btn-completo mb-3" type="submit">Logar</button>
      </form>
      <a href="/cadastro" style="text-decoration: none;">
        <button type="button" class="btn btn-secondary btn-completo mb-3">Criar conta</button>
      </a>
      <a href="/" style="text-decoration: none;">
        <button type="button" class="btn btn-secondary btn-completo">Entrar como visitante</button>
      </a>
    </div>
    <div class="sobre-projeto">
      <h3 class="titulo-sobre-projeto">Sobre o Projeto</h3>
      <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore accusamus rerum
        nam repudiandae recusandae praesentium, dolores vel atque amet, impedit harum ipsa soluta velit voluptatibus
        illum! Ea, ducimus. Veniam, sapiente.</p>
    </div>
  </section>
  <section class="section-inicio-pc">
    <div class="celula-esq">
      <div class="div-form">
        <div class="conteudo-form">
          <form method="post" action="/login/login" class="form-login">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-row">
              <div class="mb-3">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" required name="email">
              </div>
              <div class="mb-3">
                <label>Senha</label>
                <input type="password" class="form-control" placeholder="Senha" required name="password">
              </div>
            </div>
            <button class="btn btn-primary btn-completo mb-3" type="submit">Logar</button>
          </form>
          <a href="/cadastro" style="text-decoration: none;">
            <button type="button" class="btn btn-secondary btn-completo mb-3">Criar conta</button>
          </a>
          <a href="/" style="text-decoration: none;">
            <button type="button" class="btn btn-secondary btn-completo">Entrar como visitante</button>
          </a>
        </div>
        <div class="div-img">
          <img src="../../uploads/img/IFSP-VTP-Logo-Color-2.png" alt="imagem IFSP VTP" class="img-inicio">
        </div>
      </div>
    </div>
    <div class="celula-dir">
      <div class="sobre-projeto">
        <div class="div-sobre">
          <h1 class="titulo-sobre-projeto">Projeto de Extensão</h1>
          <p class="descricao-sobre">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eaque placeat
            quisquam, quia eius corrupti laborum minima quaerat praesentium sed sunt eos, sequi quod autem aliquam
            aperiam quidem possimus vitae.</p>
        </div>
      </div>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="card" style="width: 25vw; height: 25vh; margin: 0 auto;">
              <div class="card-body">
                <h5 class="card-title">Grupo A</h5>
                <p class="card-text">Introdução ao desenvolvimento de robos.</p>
                <a href="#" class="btn btn-primary">Visitar grupo</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <div class="card" style="width: 25vw; height: 25vh; margin: 0 auto;">
              <div class="card-body">
                <h5 class="card-title">Grupo B</h5>
                <p class="card-text">Criação de robos usando linguaguem Python.</p>
                <a href="#" class="btn btn-primary">Visitar grupo</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="width: 25vw; height: 25vh; margin: 0 auto;">
              <div class="card-body">
                <h5 class="card-title">Grupo C</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsa non atque quasi recusandae mollitia beatae eveniet accusantium, temporibus placeat ipsam sequi neque? Illum totam ducimus esse, itaque fugit maiores.</p>
                <a href="#" class="btn btn-primary">Visitar grupo</a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <%- include('includes/footer'); %>