<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<section class="section-introducao">
    <div class="titulo-introducao">
        <h1>Olá, <%= user.nome %></h1>
        <p>Você precisa sair para logar/cadastrar outra conta</p>
    </div>
</section>

<%- include('includes/footer'); %>